<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');
    body{
        height: 95vh;
        background: #000000;
        text-align: center;
        color: #E0E0E0;
        font-family: 'Fira Mono', monospace;
    }
    h1{
        font-size: 2.5rem;
        font-family: 'Permanent Marker', cursive;
    }

</style>
<body>
    <div class="text">
        <h1>404 Error</h1>  
      <h2>Couldn't launch :(</h2>
         <h3>Page Not Found - lets take you <a href="donate.html">BACK</a></h3> 
    </div>
</body>
</html>